* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Color-1: rgb(107, 64, 64);
    --color-2: rgb(150, 118, 118);
    --color-3: rgb(236, 236, 230);
}
body {
    color: var(--color-2);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 68px;
    text-align: center;
}

header {
    background-color: var(--Color-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}
header h1 {
    font-size: 60px;
    color: var(--color-3);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--color-3);
    font-size: 24px;
    border-top: 20px;
    text-shadow: 0, 0, 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    margin-left: -10px;
}
header a:hover {
    color: var(--Color-1);
    background-color: var(--color-3);
    border-radius:  50%;
}
header nav {
    margin: 12px 0;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.family {
    text-align: center;
    background-color: var(--color-2);
    width: auto;
    height: 410px;
    padding: 5px;  
}
.family img {
    max-width: 100%;
    max-height: 400px;
}

/* About me Sectiuon */
.bio {
    background-color: var(--Color-1);
    color: var(--color-3);
}
.bio h3 {
    font-size: 35px;
}
.bio p {
    font-size: 17px;

}
.info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.my-info {
    margin: 20px;
    flex: 1;
}
/* My Work section */
.work {
    background-color: var(--color-2);
    color: var(--color-3);
}
.work h3 {
    font-size: 35px;
    color: var(--Color-1);
}
.work h4 {
    font-weight: normal;
    margin-top: 20px;
}
.projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.project {
    margin: 50px;
    flex: 1;
}
.work ul {
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
}
.work ul li a {
    text-decoration: none;
    color: var(--color-3);
    font-weight: bolder;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.work ul li a:hover {
    color: var(--Color-1);
    text-decoration: underline;
}
/* Contact Me Section */
.contact {
    background-color: var(--Color-1);
    color: var(--color-3);
}
.contact h3 {
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
}
.connect a {
    text-decoration: none;
    color: var(--color-3);
}
.connect a:hover {
    color: var(--color-2);
}
.connect {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.connected {
    margin: 50px 10px 10px 10px;
    flex: 1;
}
/* Footer Section */
footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: var(--Color-1);
}
.foot {
    margin: 10px;
    flex: 1;
}
.foot a {
    text-decoration: none; 
    color: var(--color-3);
}
.foot a:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}